requests==2.32.5
feedparser==6.0.12
bs4==0.0.2
python-dotenv==1.2.2
astral==3.2
pytz==2026.1.post1
googletrans-py==4.0.0
firebase-admin==7.3.0
loguru==0.7.3
playwright>=1.40.0
fastf1==3.8.1
paho-mqtt>=2.0.0
