name: Feed Fetcher

on:
  schedule:
    # Runs every 60 minutes on Tuesday, Wednesday, and Thursday
    - cron: "0 * * * 2-4"
    # Runs every 30 minutes on Friday, Saturday, Sunday, and Monday (explicitly for each day)
    - cron: "*/30 * * * 1"
    - cron: "*/30 * * * 5"
    - cron: "*/30 * * * 6"
    - cron: "*/30 * * * 0"

  workflow_dispatch:     # Allows manual trigger from the GitHub Actions tab

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r cron/requirements.txt  # dependencies

      - name: Run Python script with secrets
        env:
          MOTO_GP_TOKEN: ${{ secrets.MOTO_GP_TOKEN }}
          F1_TOKEN: ${{ secrets.F1_TOKEN }}
          OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
          TOMORROW_IO_API_KEY: ${{ secrets.TOMORROW_IO_API_KEY }}
        run: python -m cron.rss.rss
